@model IEnumerable<POS.Model.Outlet>

@using (Html.BeginForm("AddStaff", "RegisterStaf", null, FormMethod.Post, new { @id = "form-addstaff" }))
{
    @Html.AntiForgeryToken()
    <table class="table">


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OutletName)
                </td>
                <td class="col-md-1">
                    <button type="button" class="btn btn-warning btn-xs btn-ok-anggota" data-id="@item.ID" data-nama="@item.OutletName"><i class="fa fa-check"></i></button>
                </td>

            </tr>
        }

    </table>
}

